.card {
  margin-top: 20px;
  padding: 25px;
  margin-bottom: 20px;
  border: initial;
  background: #fff;
}
.op-text{
  font-size: 2em;
}
#game-information{
  background-color: rgba(64, 123, 179, 0.59);
}
#game-options{
  background-color: rgba(109, 245, 211, 0.427);
}
#results{
  background-color: rgba(200, 245, 109, 0.427);
}
#game-over-img{
  max-height: 300px;
}
#number-limit-range{
  width:200px;
}