.card {
  padding: 25px;
  margin-bottom: 20px;
  border: initial;
  background: #fff;
  border-radius: calc(.15rem - 1px);
  box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
}
.op-text{
  font-size: 2em;
}
#game-presentation{
  background-color: rgba(64, 123, 179, 0.59);
}
#game-options{
  background-color: rgba(109, 245, 211, 0.427);
}
#results{
  background-color: rgba(200, 245, 109, 0.427);
}